# Archivos de configuración con secretos
.env

# Binarios y archivos compilados
/bin
/build
*.exe
*.exe~
*.dll
*.so
*.dylib
api_server

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Archivos de log
*.log

# Directorios específicos de IDE
.idea/
.vscode/
*.sublime-workspace

# Archivos específicos del sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de Docker
.dockerignore

# Directorios y archivos de Go
/vendor/
/go.work
